

body {

	background-image: url("../week-4-game/assets/diamond.jpg");
}

.jumbotron {
   background: rgb(54, 200, 54);
   background: rgba(54, 200, 54, 0.8); 
   font-weight: bolder;
   padding: 20px;
}

.image {

	width: 100px;
	height: 100px;
	float: right;
	margin: 0 5px 0 5px;
	object-position: center;
}

.title {

	background-color: white;
}